@import-normalize;
@import 'font.css';
@import 'RecipeList.css';
@import 'Recipe.css';
@import 'IngredientList.css';
@import 'Buttons.css';


*, *::before, *::after {
    font-family: Gotham Rounded, sans-serif;
}

html {
    font-size: 25px;
}

body {
    margin: 0;
    padding: 0;
}